/* src/App.css */
body {
  background-color: #f9fafb;
  font-family: 'Segoe UI', sans-serif;
}

.book-card {
  border-radius: 12px;
  transition: 0.3s;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

.author-card {
  background-color: #fff;
  border-left: 5px solid #0d6efd;
}
